@import "tailwindcss";

@theme {
  --color-medical-primary: #0ea5e9;
  --color-medical-dark: #0c4a6e;
  --color-medical-accent: #0f172a;
  --color-medical-bg: #f0f9ff;
  --color-medical-safe: #10b981;
}

@layer base {
  i {
    @apply font-black;
  }
  a {
    @apply hover:bg-medical-primary block px-3.75 py-3.75 duration-300 hover:text-white;
  }
  button {
    @apply cursor-pointer;
  }
  li {
    @apply flex items-center gap-2.5 md:border-none;
  }
  input {
    @apply focus:outline-0;
  }
}

@layer components {
  .logo {
    @apply text-medical-primary flex cursor-pointer items-center gap-2.5 text-sm font-black md:text-2xl;
  }
  .logo h1 {
    @apply text-medical-dark;
  }
  .logo h1 span {
    @apply text-medical-primary;
  }
  .cta-btn {
    @apply bg-medical-primary hover:bg-medical-dark rounded-md px-2.5 py-1.25 text-sm text-white duration-300 md:text-base;
  }
  .container {
    @apply mx-auto px-2.5 md:w-[90%];
  }
  .card {
    @apply relative flex gap-7.5 rounded-2xl bg-white p-5 shadow-[0_1px_2px_#999] duration-300 md:hover:-translate-y-2.5;
  }
  .card i {
    @apply absolute top-2.5 right-2.5 text-4xl text-[#0ea4e979] duration-300;
  }
  .card .text .card-heading {
    @apply text-medical-accent mb-2.5 text-2xl font-black;
  }
  .card .text .card-para {
    @apply text-medical-dark leading-normal;
  }
  .sec-heading {
    @apply text-center;
  }
  .sec-heading h2 {
    @apply mb-5 text-4xl font-black text-white text-shadow-lg;
  }
  .sec-heading p {
    @apply text-medical-bg text-justify text-[18px] text-shadow-2xs md:text-center;
  }
  .info-item {
    @apply flex items-center gap-3;
  }
  .info-item i {
    @apply text-medical-primary text-2xl;
  }
}

@keyframes up-down {
  0%,
  100% {
    translate: 0 20px;
  }
  50% {
    translate: 0;
  }
}
