@import "tailwindcss";

@theme {
  --color-medical-primary: #0ea5e9;
  --color-medical-dark: #0c4a6e;
  --color-medical-accent: #0f172a;
  --color-medical-bg: #f0f9ff;
  --color-medical-safe: #10b981;
}

@layer base {
  a {
    @apply px-3.75 py-3.75 block hover:bg-medical-primary hover:text-white duration-300;
  }
  button {
    @apply cursor-pointer;
  }
  li {
    @apply md:border-none flex items-center gap-2.5;
  }
}

@layer components {
  .logo {
    @apply cursor-pointer flex items-center gap-2.5 text-sm md:text-2xl font-black text-medical-primary mx-auto md:mx-0;
  }
  .logo h1 {
    @apply text-medical-dark;
  }
  .logo h1 span {
    @apply text-medical-primary;
  }
  .cta-btn {
    @apply bg-medical-primary rounded-md text-sm md:text-base py-1.25 px-2.5 text-white hover:bg-medical-dark duration-300;
  }
  .container {
    @apply md:w-[90%] mx-auto px-2.5;
  }
  .card {
    @apply relative gap-7.5 bg-white p-5 rounded-2xl md:hover:-translate-y-2.5 duration-300 shadow-[0_1px_2px_#999] flex;
  }
  .card i {
    @apply text-[#0ea4e979] text-4xl absolute top-2.5 right-2.5 duration-300;
  }
  .card .text .card-heading {
    @apply text-medical-accent font-black text-2xl mb-2.5;
  }
  .card .text .card-para {
    @apply leading-normal text-medical-dark;
  }
  .sec-heading {
    @apply text-center;
  }
  .sec-heading h2 {
    @apply text-4xl font-black text-white mb-5 text-shadow-lg;
  }
  .sec-heading p {
    @apply text-medical-bg text-[18px] text-shadow-2xs text-justify md:text-center;
  }
  .info-item {
    @apply flex items-center gap-3;
  }
  .info-item i {
    @apply text-medical-primary text-2xl;
  }
}

@keyframes up-down {
  0%,
  100% {
    translate: 0 20px;
  }
  50% {
    translate: 0;
  }
}
